html, body {
  background-color: #f7f7f7;
}

a {
  text-decoration: none ! important;
  color: #888888;
}

.panel {
  box-shadow: 0 2px 5px #ddd;
  border: none;
  border-radius: 0;
}

.content-right .panel-default>.panel-heading, .register .panel-default>.panel-heading, .login .panel-default>.panel-heading {
  background-color: #fff;
  height: 50px;
  padding-top: 15px;
  border-bottom: 1px solid #f4645f;
}

.content-right .panel-default>.panel-footer, .register .panel-default>.panel-footer, .login .panel-default>.panel-footer {
  background-color: #fff;
  height: 50px;
  padding-top: 15px;
  border-top: 1px solid #f4645f;
}

.btn {
  outline: none;
}

.btn-m {
  background-color: #f4645f;
  color: #fff;
}

.btn-m:hover, .btn-m:focus {
  color: #fff;
  outline: none;
}

.login, .register {
  margin-top: 50px
}

.content-right .panel .panel-body li {
  padding-bottom: 10px;
}

.content-right .panel .panel-body li:last-child {
  padding-bottom: 0;
}

.content-left>.col-md-12 {
  padding: 0;
}
